# Nishant Andoriya
# 201951105
# Assigment 12

In [1]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [3]:
df_1=pd.read_csv("cookie_cats.csv")
df_1.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [4]:
result = stats.ttest_ind(df_1[df_1.version == 'gate_30'].sum_gamerounds,df_1[df_1.version == 'gate_40'].sum_gamerounds,equal_var=False)

In [5]:
print(f'The value of t : {result.statistic:.4f}')
print(f'The value for p for single sided test : {result.pvalue / 2:.4f}')

The value of t : 0.8854
The value for p for single sided test : 0.1880

# Observation & Conclusion
- As we can observe that p-value is very higher than than the alpha (i.e. 0.05), so We should not reject the null hypothesis